@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  background-color: #2e3338;
  font-family: 'Montserrat', sans-serif;
}

header {
  text-align: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #e61c83;
}

.errorText {
  color: red;
}

.formContainer {
  margin: auto;
  text-align: center;
}

.userInput {
  flex: 1;
  height: 42px;
  padding: 0 40px;
  background: #fff;
  bottom: 0;
  color: #444;
  font-size: 18px;
  border-radius: 25px;
}

.searchButton {
  width: 150px;
  height: 42px;
  padding: 10px;
  margin-left: 15px;
  background: #e61c83;
  color: #fff;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

.repoListContainer {
  /* background: #f5f5f5; */
  display: flex;
  padding: 30px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.repoItemContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 27%;
  background: #fff;
  height: 90px;
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 3px 3px 10px #ddd;
  text-decoration: none;
}

.repoItemContainer > span {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

.repoItemContainer > span:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #e61c83;
}

/* SPINNER */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: -40px;
}

.lds-ellipsis div {
  position: absolute;
  top: 8px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@media screen and (max-width: 600px) {
  .repoItemContainer {
    width: 80%;
  }
  .repoListContainer {
    padding: 10px;
  }
  .searchButton {
    width: 160px;
    margin-top: 15px;
  }
}
